---
// pages/[slug].astro
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Images from "../../components/Images.astro";
import Layout from "../../layouts/Layout.astro";
import PhotosLayout from "../../layouts/PhotosLayout.astro";
import { GET_IMAGES_BY_SLUG, GET_TITLE_IMAGES } from "../../lib/queries";
import client from "../../lib/sanity";

const { slug } = Astro.params;
const imageAssets: ImageBySlug = await client.fetch(GET_IMAGES_BY_SLUG, {
  slug,
});

export async function getStaticPaths() {
  const images: TitleImages[] = await client.fetch(GET_TITLE_IMAGES);
  return images.map((image) => ({
    params: { slug: image.slug },
  }));
}
---

<PhotosLayout>
  <section>
    <div class="mb-10 mt-5">
      <p class="mt-2 text-base text-gray-600">{imageAssets.description}</p>
    </div>

    <ul class="custom-grid items-center">
      {
        imageAssets.images.map((image) => (
          <li>
            <Images image={image} />
          </li>
        ))
      }
    </ul>
  </section>
</PhotosLayout>
<style>
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 4rem;
  }
</style>
