---
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
import client from "../lib/sanity";
import { GET_IMAGES } from "../lib/queries";

const images: ImageAssets[] = await client.fetch(GET_IMAGES);
---

<Layout>
  <div class="">
    <h3 class="text-base md:text-lg lg:text-2xl pt-10 pb-8 font-bold">
      PORTFOLIO
    </h3>

    <section>
      <div class="custom-grid items-center">
        {images.map((image) => <Images image={image} />)}
      </div>
    </section>
  </div>
</Layout>

<style>
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 4rem;
  }
</style>
