---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="background"></div>
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://cdn.sanity.io/images/iwi8k3qo/production/e4c8ca4c254fb86e510cf195d37e7e74ee96b45f-3024x4032.jpg?auto=format");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 4rem;
  }
</style>
