---
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
import client from "../lib/sanity";
import { GET_IMAGES } from "../lib/queries";

const images: ImageAssets[] = await client.fetch(GET_IMAGES);
---

<Layout>
  <section class="py-5">
    <div class="custom-grid items-center">
      {images.map((image) => <Images image={image} />)}
    </div>
  </section>
</Layout>

<style>
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 4rem;
  }
</style>
