---
import { GET_IMAGES } from "../lib/queries";
import client from "../lib/sanity";
import { urlFor } from "../lib/sanity";

const { image }: any = Astro.props;
---

<div class="p-2 image_element">
  <div class="border-6 border-white overflow-hidden">
    <img
      alt={image.title}
      class="custom-translation object-cover object-center w-full h-full"
      src={image.url}
    />
  </div>
</div>

<style>
  .custom-transition {
    transition: 0.25s cubic-bezier(0.36, 0.07, 0.25, 1);
    transition-property: transform, box-shadow;
  }

  .image_element {
    border: 8px solid #fff;
    box-shadow: 0 0 20px 1px #cacaca40;
    transition: 0.25s cubic-bezier(0.36, 0.07, 0.25, 1);
    transition-property: transform, box-shadow;
  }

  .image_element:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px #cacaca80;
    transform: translate3d(0, -2%, 0);
  }
</style>
