---
const NAVBAR_LINK = [
  {
    name: "portfolio",
    link: "/",
  },
  {
    name: "contact",
    link: "/contact",
  },
  {
    name: "test",
    link: "/test",
  },
];

import { SITE_INFO } from "../data/siteInfo";
---

<style></style>

<header class="">
  <!-- Navbar -->
  <nav id="nav" role="navigation" class="">
    <div class="flex items-center gap-5 md:gap-0 flex-col md:flex-row">
      <div class="mr-4 md:mr-8">
        <a href="/" class="text-2xl font-signika font-semibold"
          >{SITE_INFO.name}</a
        >
      </div>

      <!-- <div id="menu" class="w-auto md:w-auto flex-grow flex items-center"> -->
      <ul
        id="ulMenu"
        class="flex text-base justify-center w-full md:w-auto space-x-5 flex-row items-center ml-auto"
      >
        {
          NAVBAR_LINK.map((i) => (
            <li class="group transition duration-300">
              <a
                href={i.link}
                class="font-signika  tap-highlight-transparent uppercase"
              >
                {i.name}
                <span class="hidden md:block h-0.5 bg-black dark:bg-white" />
              </a>
            </li>
          ))
        }
      </ul>
      <!-- </div> -->
    </div>
  </nav>
</header>

<script></script>
